* {
    background-color: whitesmoke;
}

button {
    width: 50%;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: red;
}

.logo {
	position: absolute;
	top: 0;
    left: 0;
    width: 10%;
}

.signupbtn {
    color: red;
}

.profilebtn {
    color: orchid;
}

img {
	position: absolute;
	top: 0;
    left: 0;
    width: 10%;
}


.reminder {
    position: absolute;
	top: 0;
    left: 0;
    width: 20%;
}

.save {
    width: 25%;
    outline: none;
}

.bio {
    height: 50px;
    width: 30%;
    background-color: rgb(218, 216, 216);
}